---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await getCollection("posts")//get all posts
const tags = [...new Set(allPosts.flatMap(post => post.data.tags))] //filter unique tags

const title = "tags index"
const description = "tags index description"
---


<BaseLayout title={title} description={description}>
  <div class="header-graphic" slot="header-graphic">
		<span>Related posts</span>
  </div>
  <h1>tags index</h1>
  <div class="tags">
    {tags.map((tag:any) => <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>)}
  </div>
  
</BaseLayout>

<style>
    .tags {
      display: flex;
      flex-wrap: wrap;
    }
    .tag {
        margin-right: 0.25rem;
    }
</style>