---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../stylesheets/globalStyles.css';
const pageTitle = "About Me"
const pageDescription = "About me page for Lapane.io"


---
<BaseLayout pageTitle = {pageTitle} pageDescription = {pageDescription}>
	<div class="header-graphic" slot="header-graphic">
		<span>About Us</span>
	</div>
	<div class="content-container">

	</div>
</BaseLayout>