:root {
    --Text: #ffffff;
    --Background: #19141a;
    --LinkBackground: #686675;
    --Primary: #4426c7;
    --Secondary: #f4f4f4;
    --Accent: #cf4307;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    font: "Roboto", sans-serif;
    background-color: var(--Background);
    color: var(--Text);
    margin: 0 auto;
    max-width: 80%;

}
a {
    color: var(--Text);
    text-decoration: none;
    background-color: var(--LinkBackground);
    border-radius: 0.15rem;
    padding: 0.2rem;
}
a:hover {
    background-color: var(--Primary);
    
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 10px;
        background-color: #333;
        z-index: 1;
    }

    .nav-links.active li {
        margin: 10px 0;
    }
}






