:root {
    --Text: #ffffff;
    --BackgroundOne: #19141a;
    --BackgroundTwo: #392647;
    --BackgroundThree: #41397e;
    --LinkBackground: #686675;
    --Primary: #4426c7;
    --Secondary: #f4f4f4;
    --Accent: #cf4307;
}
html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background: linear-gradient(var(--BackgroundOne), var(--BackgroundTwo), var(--BackgroundThree));
    background-position: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding-bottom: 1em;
    min-height: 100%;


}
body {
    font: "Roboto", sans-serif;
    background-color: var(--Background);
    color: var(--Text);
    margin: 0;
    max-width: 90%;
    margin: 0 auto;
    padding: auto;

}
a {
    color: var(--Text);
    text-decoration: none;
    background-color: var(--LinkBackground);
    border-radius: 0.15rem;
    padding: 0.2rem;
}
a:hover {
    background-color: var(--Primary);
    
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 10px;
        background-color: #333;
        z-index: 1;
    }

    .nav-links.active li {
        margin: 10px 0;
    }
}






