---
---
<div class="hamburger" id="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</div>

<style lang="scss">
    .line {
        display: block;
        width: 30px;
        height: 2px;
        background: #fff;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
       
    }
    .hamburger.open {
        transition: all 0.3s ease-in-out;
        .line:nth-child(1) {
            transform: rotate(45deg);
            transform-origin: 0% 50%;
            
        }
        
        .line:nth-child(2) {
            opacity: 0;
        }
        .line:nth-child(3) {
            transform: rotate(-45deg) translate(0px, -5px);

            
        }
    }
</style>