---
---
<div class="flex justify-center">
    {/**<a href="#" class="text-2xl p-2">🌙</a>*/}
    <ul class="flex justify-end space-x-6 items-center text-xl">
        <li><a class="hover:text-blue-100" href="/">Home</a></li>
        <li><a class="hover:text-blue-100" href="/blog/">Blog</a></li>
        <li><a class="hover:text-blue-100" href="/about/" data-astro-reload>About</a></li>
        <li><a class="hover:text-blue-100" href="/tags/">Tags</a></li>
    </ul>
</div>
<style>
    a{
        text-decoration: none;
        background-color: transparent;
        transition: all 0.5s ease-in-out;
    }
    /**textshadow credit - https://css-tricks.com/how-to-create-neon-text-with-css/ */
    @keyframes pulse {
    from{
        box-shadow: 0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(0, 255, 242),
    0 0 82px rgb(0, 217, 255),
    0 0 92px rgb(0, 183, 255),
    0 0 102px rgb(0, 183, 255),
    0 0 151px rgb(0, 195, 255);
    background-color: cyan;
    color: black;
        }

    to{
        box-shadow: none;
        }
}
    a:hover{
        text-decoration: none;
        background-color: transparent;
        padding: 0%;
        animation: pulse 01s ease-in;
        transform: scale(1.2);
        text-shadow: 0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
    }

</style>