---
---
<div class="flex justify-center">
    {/**<a href="#" class="text-2xl p-2">🌙</a>*/}
    <ul class="flex justify-end space-x-6 items-center">
        <li><a class="hover:text-blue-100" href="/">Home</a></li>
        <li><a class="hover:text-blue-100" href="/blog/">Blog</a></li>
        <li><a class="hover:text-blue-100" href="/about/">About</a></li>
        <li><a class="hover:text-blue-100" href="/tags/">Tags</a></li>
    </ul>
</div>
<style>
    a {
        background-color: #19141a;
    }
</style>