---
import Hamburger from "./Hamburger.astro";

---
<div class="sidebar" id="sidebar">
    <ul class="nav-bar">
        <li><a class="nav-link" href="/"><img src="/src/assets/site_logo.svg" alt="logo" width="100%" class="nav-logo"></a></li>
        <li id="hamburger-icon"><Hamburger /></li>
        <li><a class="nav-link" href="/">
            <img src="/src/assets/home_icon.svg" alt = "Home" width="100%"/>
            <p>Home</p>
        </a></li>
        <li><a class="nav-link" href="/blog/">
            <img src="/src/assets/learn_icon.svg" alt = "Learn" width="100%"/>
            <p>Learn</p>
        </a></li>
        <li><a class="nav-link" href="/about/" data-astro-reload>
            <img src="/src/assets/about_us_icon.svg" alt = "about us" width="100%"/>
            <p>About Us</p>
        </a></li>
        <li><a class="nav-link" href="/tags/">
            <img src="/src/assets/tag_icon.svg" alt = "Related" width="100%"/>
            <p>Related</p>
        </a></li>
    </ul>
</div>
<style lang="scss">
    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: left;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 5rem;
        background-color: black;
        overflow-x: hidden;
        transition: all 0.5s ease-in-out;

        .nav-bar {
        margin-left: 2rem;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

            li {
                height: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                border-radius: 0.5rem;

                
                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
        }
        
        
    }
    a {
        text-decoration: none;
        background-color: transparent;
        transition: all 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    img {
        height: 3rem;
        width: 100%;
        margin: 0;
    }
    p {
        font-size: small;
    }


    .sidebar.wide {
        width: 15rem;
        a {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            img:not(.nav-logo) {
                height: 3rem;
                width: 3rem;
                margin: 1rem;
                margin-left: 2rem;
            
            }
            p {
               
            }
        }

    }
</style>